<!doctype html>
<html lang="en">
  <head>
    <title>Confession</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <div class="text-center">
          <h1>10A1 NHH Confession</h1>
          <p>Hi</p>
          <p>Bấm Confession vào đây rồi đăng thôi chứ làm gì nữa :)))</p>

        </div>
      </div>
            <textarea class="form-control" rows="5" id="content" placeholder="Nhập nội dung confession vào đây"></textarea>
            <br>
            <button class="btn btn-success" id="nut">Post</button>

        <h1>Cách đăng nội dung vào confession</h1>
        <p>Bấm vào cái nút đó thôi rồi chờ đợi kết quá :)))</p>
      </div>
    </div>
  </body>
  <script>
    let nut = document.getElementById("nut");
    
    nut.addEventListener("click",() =>{
      let confession_content = document.getElementById('content').value;
      let xacthuc = confirm(`Bạn có chắc chắn muốn post confession có nội dung: \n` +confession_content) 
      if(xacthuc === true){fetch(`/api/post?content=${confession_content}`,{method: 'POST'}
      ).then(e => {return e.json()}).then(res => {
        console.log(res.id)
        alert(`Confession của bạn đã được post với ID : ${res.id}`)
      })
    }else return
    }) 
  </script>
  <style>



  </style>
</html>